header{
  position: fixed;
  width: 100%;
  z-index: 5;
  font-size: 20px;
}
                              /*/////////////////////////*/
                              /*   IMAGE SINGLE TICKET   */
                              /*       FOR ALASKA        */
                              /*/////////////////////////*/
.img-fluid1 {
  width: 100%;
}
                              /*/////////////////////////*/
                              /*IMAGE and TEXT PAGE ERROR*/
                              /*/////////////////////////*/
.img-fluid2 {
  min-height: 100%;
  min-width: 1600px;
  width: 100%;
  height: auto;
  position: fixed;
}

#errorText1{
  position: absolute;
  color: white;
  left:50px;
  top:50px;
  font-size: 50px;
}
#errorText3 {
  position: absolute;
  margin: 0;
  padding: 0;
  color: white;
  top: 650px;
  right: 780px;
}
                              /*/////////////////////////*/
                              /*  PRESENTATION WRITER    */
                              /*/////////////////////////*/
#about{
  background-color: #212743;
}
#titleAbout{
  margin-top: 85px;
  text-align: center;
  font-size: 75px;
  color:#ad8003;
}
#subtitleAbout{
  text-align: center;
  color:#ad8003;
  margin-top: 30px;
}
#textAbout {
  color:white;
  margin: 0 auto;
  width: 80%;
  padding: 4em;
  border: 2px solid #CCC;
  border-radius: 1em;
  background-color: #212743;
  margin-top:100px;
  margin-bottom:100px;
  text-align: justify;
  font-size: 18px;
}
                                /*/////////////////////////*/
                                /*    CARD CHAPTERS        */
                                /*/////////////////////////*/
#chaptersElement{
  background-color: #ad8003;
}
#index_Chapters{
  margin-right:15px;
  margin-left:15px;
}

#chaptersElement h1{
  padding-top: 90px;
  width: 100%;
  text-align: center;
  font-size:50px;
  color:#212743;
  padding-bottom: 70px;
}
#cardText{
  margin: auto;
}
                                /*/////////////////////////*/
                                /*    ADMIN AND PASSWORD    */
                                /*/////////////////////////*/
#administration {
  width: 100%;
  position: absolute;
  top: 120px;
  z-index:1;
}
#formAdmin{
  margin: 0 auto;
  width: 25%;
  padding: 2em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: #103565;
}
#crossAdmin{
  position: relative;
}
#imgAdmin{
  position: absolute;
  right: 38%;
  margin-top: 5px;
}
#rowcommentSigned{
  margin-right: 15px;
  margin-left: 15px;
}


                                /*///////////////////////////////*/
                                /*      CREATION ACCOUNT         */
                                /*///////////////////////////////*/

                              
#newAccount {
  width: 100%;
  position: absolute;
  top: 200px;
  z-index: 1;
}
#formAccount {
  margin: 0 auto;
  width: 40%;
  padding: 2em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: #103565;
}
#labelAccountName {
  color: #ffffff;
}

#labelAccountPseudo {
  color: #ffffff;
}
#labelAccountMdp {
  color: #ffffff;
}
#labelAccountMdp2 {
  color: #ffffff;
}
#labelAccountMail {
  color: #ffffff;
}
#crossNewAccount {
  position: relative;
}
#imgNewAccount {
  position: absolute;
  right: 30.2%;
  top: 3px;
}

                                      /*////////////////////////*/
                                      /*  CREATION CHAPTERS     */
                                      /*////////////////////////*/
                       
#chapters{
  width: 100%;
  position: absolute;
  top: 200px;
  z-index: 1;
}
#creationChapter{
  margin: 0 auto;
  width: 80%;
  padding: 2em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: #103565;
}
#chapter{
  color:white;
}
#titleChapterId {
  color:white;
}
#creerChapter{
  position: absolute;
  right: 6%;
  bottom: 7%;
}
#contentChapterId{
  width: 100%;
  height: 450px;
}
#crossCreateChapter {
  position: relative;
}
#imgCreateChapter {
  position: absolute;
  right: 10.2%;
  top: 3px;
}
                                  /*////////////////////////*/
                                  /* MODIFICATION CHAPTERS  */
                                  /*////////////////////////*/
#formModifChapter{
  margin: 0 auto;
  width: 80%;
  height:750px;
  padding: 2em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: #103565;
}
#modification_chapter{
  position: absolute;
  width: 100%;
  z-index: 1;
  
}
.modif{
  bottom: -100px;
}
#contentChapter{
  min-height: 450px;
}
#crossModifChapter {
  position: relative;
}
#imgModificationChapter{
  position: absolute;
  right: 10.2%;
  top: 3px;
}
#modifChanged{
  position: absolute;
  top: 680px;
}



                                  /*////////////////////////*/
                                  /*   DELETE  CHAPTERS     */
                                  /*////////////////////////*/
#deleteChapters{
  padding-top:110px;
  top:80px;
  color:white;
  position:absolute;
}
#rowDelete{
    margin-right: 15px;
    margin-left: 15px;
}

                                  /*////////////////////////*/
                                  /*        FOOTER          */
                                  /*////////////////////////*/
footer {
  background-color: #343a40;
  padding-top: 110px;
  padding-bottom: 110px;
}
footer h5 {
  color: white;
}
#copyright {
  color: white;
}

@media (min-device-width: 180px) and (max-device-width:480px),
(min-width: 180px) and (max-width:480px) {
                                    /*////////////////////////*/
                                    /*        INDEX           */
                                    /*////////////////////////*/
    #titleAbout {
      font-size: 30px;
      margin-top: 20px;
    }
    #subtitleAbout {
      font-size: 18px;
      margin-top: 0px;
    }
    #textAbout {
      font-size: 8px;
      margin-top: 20px;
    }
    #chaptersElement h1 {
      font-size: 20px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    footer{
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
                                    /*////////////////////////*/
                                    /*        ADMIN           */
                                    /*////////////////////////*/
    #formAdmin {
      width: 85%;
    }
    #imgAdmin {
      right: 9%;
    }
                                    /*////////////////////////*/
                                    /*   CREATION CHAPTERS    */
                                    /*////////////////////////*/
    #titleCreateChapter{
      font-size: 25px;
    }                              
    #imgCreateChapter {
      right: 10.6%
    }
    #chapters {
      height: 600px;
    }
                                    /*////////////////////////*/
                                    /*  MODIFICATION CHAPTERS */
                                    /*////////////////////////*/
    #titleModification {
      font-size: 25px;
    }
    #imgModificationChapter {
        right: -10.5%;
    }
    #modification_chapter {
      height: 760px;
    }
                                    /*////////////////////////*/
                                    /*     DELETE CHAPTERS    */
                                    /*////////////////////////*/
                                   
    #titleDelete {
      font-size: 25px;
    }
                                    /*////////////////////////*/
                                    /*     CREATION ACCOUNT   */
                                    /*////////////////////////*/
    #titleCreation{
      font-size: 25px;
    }
    #formAccount {
      width: 85%;
    }
    #imgNewAccount {
      position: absolute;
      right: 8.2%;
      top: 3px;
    }
    

}
@media (orientation: landscape) and (min-device-width : 481px) and (max-device-width : 767px),
(min-width: 481px) and (max-width:767px) {

                                    /*////////////////////////*/
                                    /*        INDEX           */
                                    /*////////////////////////*/
    #titleAbout{
      margin-top: 30px;
      font-size: 40px;
    }
    #subtitleAbout {
      margin-top: -20px;
    }
    #textAbout {
      font-size: 10px;
      margin-top: 40px;
    }
    #chaptersElement h1 {
      padding-top: 40px;
      font-size: 40px;
    }
    footer {
      padding-top: 40px;
      padding-bottom: 40px;
    }
}

@media (min-device-width : 768px) and (max-device-width : 1023px),
(min-width: 768px) and (max-width:1023px) {


                                    /*////////////////////////*/
                                    /*  MODIFICATION CHAPTERS */
                                    /*////////////////////////*/
  

  #imgModificationChapter {
        right: 10.5%;
  }

}

/* @media (orientation: landscape) and (min-device-width : 1024px) and (max-device-width : 1366px),
(min-width: 1024px) and (max-width:1366px) {
  
} */
